body {
  margin: 0;
}

.first-div {
  border : 0.1px solid rgb(232, 232, 232);
  padding-top : 9px;
}

.login-btn {
  border : none;
  background : white;
  color : #838383;
  margin-left : 1285px;
  padding : 0px 15px;
  padding-bottom : 15px;
  
}

.mystore-btn {
  border : none;
  border : none;
  background : white;
  color : #838383;
  padding : 0px 15px;
}

.second-div {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border: 0.1px solid rgb(237, 237, 237);
}

.main-logo {
  width : 136Px;
  margin-left : 440px;
  margin-bottom : 25px;
}


.search-container {
  position: relative;     
  width: 460px;
  margin: 20px 
}

.search-box {
  width :420px;
  height : 38px;
  padding: 0 40px 0 10px;   
  margin-left : 80px;
  margin-bottom : 50px;
  border : 2px solid rgb(247, 47, 51);
  font-size : 14px;
}

.search-icon {
  position: absolute;
  left: 520px;                
  top: 20px;
  transform: translateY(-50%); 
  width: 16px;
  height: 16px;
  pointer-events: none;   
}

.sell-container {
  display: flex;
  align-items: center;  
}

.sell-icon {
  width: 23px;
  height: 26px;
  margin-right: 6px;    
  margin-left: 120px;   
  margin-bottom : 57px;
}

.sell-title {
  display: inline-block;     
  text-decoration: none;
  color: inherit;
  margin-bottom : 50px;
  font-size: 12px;
}

.mystore-container {
  display: flex;
  align-items: center;
  border-left: 2px solid #dcdcdc; 
  margin-left: 10px;
  margin-bottom : 50px;      
  height : 15px;
}

.mystore-icon {
  width: 23px;
  height: 26px;
  margin-right: 6px;    
  margin-left: 10px;   
  margin-bottom : 8px;
}

.mystore-title {
  display: inline-block;     
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}

.talk-container {
  display: flex;
  align-items: center;
  border-left: 2px solid #dcdcdc; 
  margin-left: 10px;
  margin-bottom : 50px;      
  height : 15px;
}


.talk-icon {
  width: 23px;
  height: 24px;
  margin-right: 6px;    
  margin-left: 10px;   
  margin-bottom : 1px;
}

.talk-title {
  display: inline-block;     
  text-decoration: none;
  color: inherit;
  margin-bottom : 4px;
  font-size: 12px;
}


.logo-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1px;
}

.category-icon {
  width : 20px;
  height : 16px;
  margin-top : 3px;
  margin-left : 440px;
}

.center {
  text-decoration: none;
  color: inherit;
  font-family: 'Do Hyeon', sans-serif;
  margin-left : 25px;
  font-size : 14px;
  margin-top : 15px;
}

.thrid-div {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  flex-shrink: 0;
}

/* 좌우 버튼 */
.left-btn,
.right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;      /* 굵기 조절 */
  line-height: 1;             /* 수직 정렬 깔끔하게 */
  background: none;
  border: none;
  padding: 10px;
  color: rgb(232, 232, 232);
  cursor: pointer;
  z-index: 10;
  user-select: none;          /* 클릭 시 텍스트 선택 방지 */
}

.left-btn { left: 10px; }
.right-btn { right: 10px; }